# SPDX-FileCopyrightText: 2021 Andrea Chirulescu <andrea.chirulescu@gmail.com>
# SPDX-FileCopyrightText: 2021 Harald Eilertsen <haraldei@anduin.net>
#
# SPDX-License-Identifier: CC0-1.0

node_modules

/vendor/
