<!--
SPDX-FileCopyrightText: 2021 Andrea Chirulescu <andrea.chirulescu@gmail.com>
SPDX-FileCopyrightText: 2021 Harald Eilertsen <haraldei@anduin.net>

SPDX-License-Identifier: CC0-1.0
-->

<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="/var/www/html/wp-phpunit-config.php" />
    </php>
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
